{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<style>
    /* .ui-autocomplete{
        display:none !important;
    } */
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 style="text-align: center;">Add Markup</h3>
                </div>
                <div class="card-body">
                    <!-- Add a div to display messages -->
                    <div id="messages">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="form-label">Name:</label>
                            <input type="text" name="name" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="value" class="form-label">Value:</label>
                            <input type="number" name="value" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="type" class="form-label">Type:</label>
                            <select name="type" class="form-select" required>
                                <option value = 1 >Percentage</option>
                                <option value = 2 >Flat</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="merchants_id" class="form-label">Merchant :</label>
                            <input type="text" id="merchant_list" name="merchants" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label for="category_id" class="form-label">Category :</label>
                            <input type="text" id="category" name="category" class="form-control" required>
                        </div>

                        <div class="mb-3 d-flex align-items-center">
                            <label class="form-check-label me-2" for="status">Status:</label>
                            <div class="form-check">
                                <input type="checkbox" name="status" class="form-check-input" id="statusCheckbox">
                            </div>
                        </div>
                
                        <div class="mb-3">
                            <label for="priority" class="form-label">Priority:</label>
                            <input type="text" name="priority" class="form-control"  pattern="^[1-9]\d*$" required>
                            <small>Enter a positive integer.</small>
                        </div>
                        <div class="mb-3">
                            <label for="currency" class="form-label">Currency:</label>
                            <input type="text" id="currency" name="currency" class="form-control" required>
                        </div>
                        <button type="submit"  class="btn btn-primary">Add Markup</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<script>
    $(document).ready(function () {
        // Function to hide messages after a few seconds
        function hideMessages() {
            setTimeout(function () {
                $('#messages').fadeOut();
            }, 5000); // Messages will disappear after 5 seconds (adjust as needed)
        }

        // Call the hideMessages function when the page loads
        hideMessages();

        // Call the hideMessages function when a user clicks anywhere on the page
        $(document).on('click', function () {
            $('#messages').fadeOut();
        });
    });
</script>
<script>
    
    $(function () {
     // Autocomplete for merchants_id (User)
     $("#merchant_list").autocomplete({
      source: function (request, response) {

            $.ajax({
                url: "{% url 'autocomplete_user' %}",
                dataType: "json",
                data: {
                term: request.term
                 },
                 success: function (data) {
                    response(data);
                 }
            });
            },
            minLength: 1,
            select: function (event, ui) {
                const selectedValue = ui.item.value;
                // Add the selected value to the input field
                $("#merchant_list").val(selectedValue);
                // Prevent the default behavior
                event.preventDefault();
            }
         });

    //  // Function to handle selected options
    //     function handleSelectedOptions(selectedOptions) {
    //     const selectedOptionsContainer = $('#selected-options');
    //     selectedOptionsContainer.empty();
    //     }

    //     });
        // Autocomplete for category_id (ProductCategory)
        $("#category").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "{% url 'autocomplete_product_category' %}",
                    dataType: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response(data);
                    }
                });
            },
            minLength: 1,
            select: function (event, ui) {
                // Handle the selected value here
                const selectedValue = ui.item.value;

                // Add the selected value to the input field
                $("#category").val(selectedValue);
                // Prevent the default behavior
                event.preventDefault();
            }
        });

        // Autocomplete for currency (Currency)
        $("#currency").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "{% url 'autocomplete_currency' %}",
                    dataType: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response(data);
                    }
                });
            },
            minLength: 1,
            select: function (event, ui) {
                // Handle the selected value here
                const selectedValue = ui.item.value;
                // Add the selected value to the input field
                $("#currency").val(selectedValue);
                // Prevent the default behavior
                event.preventDefault();

                // Add the selected value to the container
                // handleSelectedOptions([selectedValue]);
            }
            
        });
        // Function to handle selected options
        // function handleSelectedOptions(selectedOptions) {
        //     const selectedOptionsContainer = $('#selected-options');
        //     selectedOptionsContainer.empty();

        //     selectedOptions.forEach(option => {
        //         const selectedOption = $('<div>', { class: 'selected-option' }).text(option);
        //         selectedOptionsContainer.append(selectedOption);
        //     });
        // }
    });
</script>
<style>
    /* Custom CSS for autocomplete dropdown */

    /* Hide the autocomplete dropdown by default */
    .ui-autocomplete {
        display: none;
        /* position: initial; */
        width: auto;
        max-width: 72%;
        max-height: 200px;
        overflow-y: auto;
        background-color: white;
        border: 1px solid #ccc;
        font-size: 14px;
        z-index: 1000;
    }
    
 
</style>


    
{% endblock scripts %} 


