{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-4">
    </div>
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>TRANSACTIONS</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">id</th>
    
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">User</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Merchant</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Product</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Price</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Currency</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Markup</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Discount</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Markup value</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Discount value</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Created at</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Updated at</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    {% for transaction in transaction_detail %}

                 
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                        
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ forloop.counter }}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ transaction.user }}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ transaction.merchant }}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ transaction.product }}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ transaction.price }}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ transaction.currency }}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ transaction.markup }}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ transaction.discount }}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ transaction.markup_value }}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ transaction.discount_value }}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ transaction.created_at }}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ transaction.updated_at }}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <!-- Edit button -->
                        <a href="{% url 'update_transaction' transaction.id %}" class="btn btn-sm btn-primary">
                          <i class="fa fa-pencil"> Edit</i>
                        </a>
                    </td>
                    
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% if transaction_detail.has_other_pages %}
                <div class="card-footer">
                  <ul class="pagination">
                    {% if transaction_detail.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ transaction_detail.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <!-- <li class="disabled"><span>&laquo;</span></li> -->
                        <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
                    {% endif %}

                    {% if total_pages < 6 %}
                        {% for i in transaction_detail.paginator.page_range %}
                            {% if transaction_detail.number == i %}
                                <li class="page-item active"><a class="page-link" href="#">{{ i }} </a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% if transaction_detail.number == 1 %}
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                        {% endif %}
                        {% if transaction_detail.number == 2 %}
                            <li class="page-item active"><a class="page-link" href="#">2</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                        {% endif %}

                        {% if transaction_detail.number == 3  %}
                            <li class="page-item active"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                        {% elif transaction_detail.number > 3 and transaction_detail.number < total_pages|add:-3 %}
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item active"><a class="page-link" href="?page={{ transaction_detail.number }}">{{ transaction_detail.number }}</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                        {% elif transaction_detail.number == total_pages|add:-2 %}
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item active"><a class="page-link" href="?page={{ transaction_detail.number }}">{{ transaction_detail.number }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                        {% endif %}
                       
                        {% if transaction_detail.number == total_pages|add:-1 %}
                            <li class="page-item active"><a class="page-link" href="#">{{ total_pages|add:-1 }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ total_pages|add:-1 }}">{{ total_pages|add:-1 }}</a></li>
                        {% endif %}
                        {% if transaction_detail.number == total_pages %}
                            <li class="page-item active"><a class="page-link" href="#">{{ total_pages }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ total_pages }}">{{ total_pages }}</a></li>
                        {% endif %}
                    {% endif %}

                    {% if transaction_detail.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ transaction_detail.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <!-- <li class="page-item disabled"><span>&raquo;</span></li> -->
                        <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
                    {% endif %}
                  </ul>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
</div>


{% include "includes/footer.html" %}


{% endblock content %}

